name: Publish Container Image

on:
  push:
    branches: [main]
  pull_request:

jobs:
  publish:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: buurro/publish-container-image/.github/workflows/publish-container-image.yml@main
    permissions:
      contents: read
      packages: write
    with:
      nix-flake-attr: ".#containerImage"
      enable-cache: false
    secrets: inherit
